.cabecera {
  display: flex;
  justify-content: center;
}
.cabecera {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  z-index: 999;
}



.m\:barra {
  display: none;
}

.logotipo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.logotipo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navegacion {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
.mi-red-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tema{
  display: flex;
  width: 35px;
  height: 35px;
}

@media (width >= 992px) {
  .m\:barra {
    display: none;
  }
}
