/* animaciones */
.animacion-latido {
  animation-name: latir;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes latir {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hover\:fondo-uno:hover {
  background-color: #c8c8c8;
}

.aparecer {
  opacity: 0;
  animation: aparecer 200ms ease-in-out forwards;
}
.rapido {
  opacity: 0;
  animation: aparecer 100ms ease-in-out forwards;
}


.porcentaje[style*="--porcentaje: 65"],
.porcentaje[style*="--porcentaje: 66"],
.porcentaje[style*="--porcentaje: 67"],
.porcentaje[style*="--porcentaje: 68"],
.porcentaje[style*="--porcentaje: 69"] {
  --color-barra: #d47800;
}

.porcentaje[style*="--porcentaje: 70"],
.porcentaje[style*="--porcentaje: 71"],
.porcentaje[style*="--porcentaje: 72"],
.porcentaje[style*="--porcentaje: 73"],
.porcentaje[style*="--porcentaje: 74"],
.porcentaje[style*="--porcentaje: 75"],
.porcentaje[style*="--porcentaje: 76"],
.porcentaje[style*="--porcentaje: 77"],
.porcentaje[style*="--porcentaje: 78"],
.porcentaje[style*="--porcentaje: 79"] {
  --color-barra: #d0cc00;
}

.porcentaje[style*="--porcentaje: 80"],
.porcentaje[style*="--porcentaje: 81"],
.porcentaje[style*="--porcentaje: 82"],
.porcentaje[style*="--porcentaje: 83"],
.porcentaje[style*="--porcentaje: 84"],
.porcentaje[style*="--porcentaje: 85"],
.porcentaje[style*="--porcentaje: 86"],
.porcentaje[style*="--porcentaje: 87"],
.porcentaje[style*="--porcentaje: 88"],
.porcentaje[style*="--porcentaje: 89"],
.porcentaje[style*="--porcentaje: 90"],
.porcentaje[style*="--porcentaje: 91"],
.porcentaje[style*="--porcentaje: 92"],
.porcentaje[style*="--porcentaje: 93"],
.porcentaje[style*="--porcentaje: 94"],
.porcentaje[style*="--porcentaje: 95"],
.porcentaje[style*="--porcentaje: 96"],
.porcentaje[style*="--porcentaje: 97"],
.porcentaje[style*="--porcentaje: 98"],
.porcentaje[style*="--porcentaje: 99"],
.porcentaje[style*="--porcentaje: 100"] {
  --color-barra: #00d100;
}

@keyframes cargando {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: var(--porcentaje) 100;
  }
}

.porcentaje {
  display: flex;
  position: relative;
}

.porcentaje span {
  position: absolute;
  inset: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-porcentaje {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  column-gap: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-porcentaje img {
  width: 30px;
  height: 30px;
}

.progreso {
  width: 120px;
  height: 120px;
}

.progreso circle {
  fill: none;
  stroke: #494949;
  stroke-dasharray: 100 100;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50%;
}

.progreso circle:nth-child(2) {
  stroke-dasharray: 0 100;
  stroke: var(--color-barra, #d50000);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.progreso circle:nth-child(2).visible {
  opacity: 1;
  animation: cargando 2s cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
  will-change: stroke-dasharray;
}

.radio {
  r: 55px;
}

@media (width >= 992px) {
  .progreso circle {
    stroke-width: 20;
  }
  .progreso {
    width: 150px;
    height: 150px;
  }
  .radio {
    r: 65px;
  }
}
