@import "tailwindcss";

:root {
  /* --color-bg: #242424; */
  --color-bg: #121212;
  --color-bg-dos: #3c3c3c;
  --color-bg-tres: #63d8ff;
  /* tipografia */
  --color-texto: #fff;
  --color-texto-dos: #63d8ff;
  --color-texto-tres: #bbb;
  --color-texto-cuatro: #9fff6f;

  /* borde */
}

.oscuro {
  /* --color-bg: #0f0117; */
  --color-bg: #030219;
  --color-bg-dos: #3c3c3c;
  --color-bg-tres: #63d8ff;
  /* tipografia */
  --color-texto: #fff;
  --color-texto-dos: #53e8f2;
  --color-texto-tres: #bbb;
  --color-texto-cuatro: #9fff6f;

  /* borde */
}

.claro {
  --color-bg: #fff;
  --color-bg-tres: #0a00c1;
  /* --color-bg-tres: #19ff25; */
  
  /* tipografia */
  --color-texto: #000;
  --color-texto-dos: #0a00c1;
  --color-texto-tres: #4d4d4d;
    --color-texto-cuatro: #6400ff;

  /* borde */
}

@font-face {
  /* font-family: "Lemonada"; */
  font-family: "RobotoMono";
  /* src: url("/fonts/Lemonada-VariableFont_wght.ttf") format("truetype"); */
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  /* Rango de pesos soportados */
  font-style: normal;
}

body {
  background-color: var(--color-bg);
  color: var(--color-texto);
  font-family: "RobotoMono", Arial;
  min-height: 100vh;
}

.filtro-oscuro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000000b3; */
  background: #00000092;
  pointer-events: none;
  z-index: 1;
}

.borde-mexicano {
  border: 1px solid transparent;
  /*   border-image: linear-gradient(to bottom right, green 0%,green 20%, #a0a0a0 30%, #a0a0a0 70%, red 80%,red 100%) 1; */
  filter: drop-shadow(0 0 3px var(--color-bg-tres));
}
.filtro-blanco {
  border: 1px solid transparent;
  /*   border-image: linear-gradient(to bottom right, green 0%,green 20%, #a0a0a0 30%, #a0a0a0 70%, red 80%,red 100%) 1; */
  filter: drop-shadow(1px 1px 0 #fff);
}